---
- name: Add apt-key
  apt_key: id=E56151BF keyserver=keyserver.ubuntu.com state=present

- name: Add mesosphere repo
  apt_repository: repo='deb {{ mesosphere_apt_url }} main' state=present

- name: Install Java
  apt: pkg=openjdk-8-jdk state=present

- name: Install mesosphere (zookeeper, mesos, marathon)
  apt: pkg={{ item }} state=present update_cache=yes
  with_items:
     - wget
     - curl
     - zip
     - unzip
     - zookeeper
     - mesos={{mesos_apt_version}}
     - marathon

- name: Assign Zookeeper id
  copy: dest=/etc/zookeeper/conf/myid content="{{ zk_id }}"
  notify:
    - restart_zookeeper

- name: Configure zookeeper
  template: src=zoo.cfg.j2 dest=/etc/zookeeper/conf/zoo.cfg owner=root group=root
  notify:
    - restart_zookeeper

- name: Configure mesos-master to zk
  copy: dest=/etc/mesos/zk content="zk://{{ play_hosts | join(':2181,') }}:2181/mesos"
  notify:
      - restart_mesos_master

- name: Configure mesos-master quorum
  copy: dest=/etc/mesos-master/quorum content="{{mesos_master_quorum}}"
  notify:
      - restart_mesos_master

- name: Configure mesos-master ip
  copy: dest=/etc/mesos-master/ip content="{{zk_ip}}"
  notify:
      - restart_mesos_master
      
- name: Configure mesos-master hostname
  copy: dest=/etc/mesos-master/hostname content="{{inventory_hostname}}"
  notify:
      - restart_mesos_master
      
- name: Override mesos-slave to not start manually
  copy: dest=/etc/init/mesos-slave.override content="manual"

- name: Create marathon conf directory
  file: path=/etc/marathon/conf state=directory

- name: Configure marathon hostname
  copy: dest=/etc/marathon/conf/hostname content="{{inventory_hostname}}"
  notify:
      - restart_marathon

- name: Configure marathon mesos master zk
  copy: dest=/etc/marathon/conf/master content="zk://{{ play_hosts | join(':2181,') }}:2181/mesos"
  notify:
      - restart_marathon

- name: Configure marathon zk
  copy: dest=/etc/marathon/conf/zk content="zk://{{ play_hosts | join(':2181,') }}:2181/marathon"
  notify:
      - restart_marathon