---
- name: Install epel
  yum: name=epel-release state=present

- name: Install Java
  yum: name=java-1.8.0-openjdk-devel state=present

- name: Add mesosphere repo
  yum: name=http://repos.mesosphere.com/el/7/noarch/RPMS/mesosphere-el-repo-7-1.noarch.rpm state=present


- name: Install mesosphere (zookeeper, mesos, marathon, chronos)
  yum: pkg={{ item }} state=present update_cache=yes
  with_items:
     - mesosphere-zookeeper
     - mesos
     - marathon
     - chronos

- name: Assign Zookeeper id
  copy: dest=/var/lib/zookeeper/myid content="{{ zk_id }}"
  notify:
    - restart_zookeeper

- name: Configure zookeeper
  template: src=zoo.cfg.j2 dest=/etc/zookeeper/conf/zoo.cfg owner=root group=root
  notify:
    - restart_zookeeper

- name: Configure mesos-master to zk
  copy: dest=/etc/mesos/zk content="zk://{{ play_hosts | join(':2181,') }}:2181/mesos"
  notify:
      - restart_mesos_master

- name: Configure mesos-master quorum
  copy: dest=/etc/mesos-master/quorum content="{{mesos_master_quorum}}"
  notify:
      - restart_mesos_master

- name: Configure mesos-master ip
  copy: dest=/etc/mesos-master/ip content="{{zk_ip}}"
  notify:
      - restart_mesos_master
      
- name: Configure mesos-master hostname
  copy: dest=/etc/mesos-master/hostname content="{{inventory_hostname}}"
  notify:
      - restart_mesos_master
      
- name: Enable and start mesos-master
  service: name=mesos-master state=started enabled=true

- name: Override mesos-slave to not start manually
  service: name=mesos-slave state=stopped enabled=false

- name: Create marathon conf directory
  file: path=/etc/marathon/conf state=directory

- name: Configure marathon hostname
  copy: dest=/etc/marathon/conf/hostname content="{{inventory_hostname}}"
  notify:
      - restart_marathon

- name: Configure marathon mesos master zk
  copy: dest=/etc/marathon/conf/master content="zk://{{ play_hosts | join(':2181,') }}:2181/mesos"
  notify:
      - restart_marathon

- name: Configure marathon zk
  copy: dest=/etc/marathon/conf/zk content="zk://{{ play_hosts | join(':2181,') }}:2181/marathon"
  notify:
      - restart_marathon

- name: Enable and start marathon 
  service: name=marathon state=started enabled=true
